// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');


* {
  box-sizing: border-box;
  background-color: #002855;
  color: white; 
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}

#root{
  display:flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 3rem;
  min-height: 100vh;

  overflow: auto; 
}

nav {
  display:flex; 
  justify-content: space-around;
}


main {
  width: 80vw;
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@import '~bootstrap/scss/bootstrap';
@import 'components/Nav.scss';
@import 'components/Login.scss';
@import 'components/CsvUpload.scss';
@import 'components/Analyzer.scss';
@import 'components/Profile.scss'


